
.admin{
    border-width: 3;
    border-color: black;
    padding: 10;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.menu{
    height: fit;
}

.start{
    width: 100%;
    background-color:#3c4b64 ;
    height: 65px;
    
    
}

.menuItems{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.body{
    width: auto;
    background-color: white;
    width: 100%;
}


/* card holder  */

.holder1{
    display: flex;
}

.holder2{
    display: flex;
}


/* main card : user */

.card-users{

    box-sizing: border-box;
    font-family: Poppins;
    width:20rem;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(119, 119, 119);
border-radius: .5rem;
box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
padding: 1rem;
margin-left: 1rem;
}

.card-users h2 {
    margin-left: 1rem;
    color: #05BF4F;
    font-weight: bold;
    margin-top: 1rem;
}


.card-users h3{
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1.2rem;
}


/* icon pad */

.icon-pad{
background-color: #ffffff;
width: 6rem;
height: 6rem;
margin-left: 2rem;
display: flex;
border-radius: .5rem;
border: 2px solid #05BF4F;
box-shadow: 0px 3px 4px 0px #05BF4F;
}

.icon-pad i{
    font-size: 3rem;
    margin: auto;
}



/* card bottom */
.card-bottom{
 height: auto;
background-color: #F3F3F3;
border-radius: .6rem;
margin: .1rem;
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
padding: 1rem;

}





/* card bottom */

.card-details{
    display: flex;
 
    margin-bottom: 0px;
}

.card-details h4{
    font-size: 1rem;
    margin-left: 1rem;
}
.card-num {
color:#05BF4F;
font-size: 1.1rem;
margin: auto;
font-weight:bold;
justify-content: flex-end;
align-items: flex-end;
}

/* buttons section  */

.buttons-sec{
    display: flex;
    justify-content: space-evenly;
  
}

.btn {
  margin: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: .6rem;
  width: 7rem;
  margin: 2px;
  color: #ffffff;
  background-image: linear-gradient(145deg ,#05BF4F , #00be4c );
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  margin-bottom: .4rem;
}

.btn:hover{
      background-image:linear-gradient(45deg ,#000000 , #464646 );
      color: #ffffff;
}







/* main card : spare */

.card-spare{

    box-sizing: border-box;
    font-family: Poppins;
    width:20rem;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(119, 119, 119);
border-radius: .5rem;
box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
margin-left: 0rem;
padding: 1rem;
}

.card-spare h2 {
    margin-left: 1rem;
    color: #FA3232;
    font-weight: bold;
    margin-top: 1rem;
}


.card-spare h3{
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1.2rem;
}


/* icon pad */

.icon-pad-spare{
background-color: #ffffff;
width: 6rem;
height: 6rem;
margin-left: 2rem;
display: flex;
border-radius: .5rem;
border: 2px solid #FA3232;
box-shadow: 0px 3px 4px 0px #FA3232;
}

.icon-pad-spare i{
    font-size: 3rem;
    margin: auto;
}



/* card bottom */
.card-bottom{
 height: auto;
background-color: #F3F3F3;
border-radius: .6rem;
margin: .1rem;
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
padding: 1rem;

}


/* card bottom */


.card-num-spare {
color:#FA3232;
font-size: 1.1rem;
margin: auto;
font-weight:bold;
justify-content: flex-end;
align-items: flex-end;
}


/* buttons section  */

.buttons-sec{
    display: flex;
    justify-content: space-evenly;
  
}

.btn-spare {
    margin-top: 1rem;
  margin: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: .6rem;
  width: 7rem;
  margin: 2px;
  color: #ffffff;
  background-image: linear-gradient(145deg ,#FA3232 , #d61c1c );
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  margin-bottom: .4rem;
}

.btn-spare:hover{
      background-image:linear-gradient(45deg ,#000000 , #464646 );
      color: #ffffff;
}




/* main card : genset */

.card-genset{

    box-sizing: border-box;
    font-family: Poppins;
    width:20rem;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(119, 119, 119);
border-radius: .5rem;
box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
margin-left: 0rem;
padding: 1rem;
}

.card-genset h2 {
    margin-left: 1rem;
    color: #1B76FF;
    font-weight: bold;
    margin-top: 1rem;
}


.card-genset h3{
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1.2rem;
}


/* icon pad */

.icon-pad-genset{
background-color: #ffffff;
width: 6rem;
height: 6rem;
margin-left: 2rem;
display: flex;
border-radius: .5rem;
border: 2px solid #1B76FF;
box-shadow: 0px 3px 4px 0px #1B76FF;
}

.icon-pad-genset i{
    font-size: 3rem;
    margin: auto;
}



/* card bottom */
.card-bottom{
 height: auto;
background-color: #F3F3F3;
border-radius: .6rem;
margin: .1rem;
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
padding: 1rem;

}


/* card bottom */


.card-num-genset{
color:#1B76FF;
font-size: 1.1rem;
margin: auto;
font-weight:bold;
justify-content: flex-end;
align-items: flex-end;
}


/* buttons section  */

.buttons-sec{
    display: flex;
    justify-content: space-evenly;
  
}

.btn-genset {
    margin-top: 1rem;
  margin: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: .6rem;
  width: 7rem;
  margin: 2px;
  color: #ffffff;
  background-image: linear-gradient(145deg ,#1B76FF , #0951bd );
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  margin-bottom: .4rem;
}

.btn-genset:hover{
      background-image:linear-gradient(45deg ,#000000 , #464646 );
      color: #ffffff;
}




/* main card : Service List */

.card-service{

    box-sizing: border-box;
    font-family: Poppins;
    width:20rem;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(119, 119, 119);
border-radius: .5rem;
box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
margin-left: 1rem;
padding: 1rem;
}

.card-service h2 {
    margin-left: 1rem;
    color: #A81BFF;
    font-weight: bold;
    margin-top: 1rem;
}


.card-service h3{
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1.2rem;
}


/* icon pad */

.icon-pad-service{
background-color: #ffffff;
width: 6rem;
height: 6rem;
margin-left: 2rem;
display: flex;
border-radius: .5rem;
border: 2px solid #A81BFF;
box-shadow: 0px 3px 4px 0px #A81BFF;
}

.icon-pad-service i{
    font-size: 3rem;
    margin: auto;
}



/* card bottom */
.card-bottom{
 height: auto;
background-color: #F3F3F3;
border-radius: .6rem;
margin: .1rem;
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
padding: 1rem;

}


/* card bottom */


.card-num-service{
color:#A81BFF;
font-size: 1.1rem;
margin: auto;
font-weight:bold;
justify-content: flex-end;
align-items: flex-end;
}


/* buttons section  */

.buttons-sec{
    display: flex;
    justify-content: space-evenly;
  
}

.btn-service {
    margin-top: 1rem;
  margin: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: .6rem;
  width: 7rem;
  margin: 2px;
  color: #ffffff;
  background-image: linear-gradient(145deg ,#A81BFF , #740cb4 );
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  margin-bottom: .4rem;
}

.btn-service:hover{
      background-image:linear-gradient(45deg ,#000000 , #464646 );
      color: #ffffff;
}




/* main card : Engines */

.card-engine{

    box-sizing: border-box;
    font-family: Poppins;
    width:20rem;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(119, 119, 119);
border-radius: .5rem;
box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
margin-left: 1rem;
padding: 1rem;
}

.card-engine h2 {
    margin-left: 1rem;
    color: #FAAA32;
    font-weight: bold;
    margin-top: 1rem;
}


.card-engine h3{
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1.2rem;
}


/* icon pad */

.icon-pad-engine {
background-color: #ffffff;
width: 6rem;
height: 6rem;
margin-left: 2rem;
display: flex;
border-radius: .5rem;
border: 2px solid #FAAA32;
box-shadow: 0px 3px 4px 0px #FAAA32;
}

.icon-pad-engine i{
    font-size: 3rem;
    margin: auto;
}



/* card bottom */
.card-bottom{
 height: auto;
background-color: #F3F3F3;
border-radius: .6rem;
margin: .1rem;
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
padding: 1rem;

}


/* card bottom */


.card-num-engine{
color:#FAAA32;
font-size: 1.1rem;
margin: auto;
font-weight:bold;
justify-content: flex-end;
align-items: flex-end;
}


/* buttons section  */

.buttons-sec{
    display: flex;
    justify-content: space-evenly;
  
}

.btn-engine {
    margin-top: 1rem;
  margin: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  padding: .6rem;
  width: 7rem;
  margin: 2px;
  color: #ffffff;
  background-image: linear-gradient(145deg ,#FAAA32 , #e28f13 );
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  margin-bottom: .4rem;
}

.btn-engine:hover{
      background-image:linear-gradient(45deg ,#000000 , #464646 );
      color: #ffffff;
}




/* start: stlye for delete section */

.delete-header{
    font-weight: bolder;
    margin: .6rem;
    background: -webkit-linear-gradient(45deg, #296bd6 0%, #06386d 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    font-size:3rem;
} 

.delete-note{
    background-color: rgb(221, 221, 219);
    color:#053379;
    border-radius:.5rem;
    font-size: .9rem;
    padding:.41rem;
    margin:.9rem;
}

.search-bar{
    margin: .7rem;
    padding: .5rem;
    border-radius: .3rem;
    width: 26rem;
}


.del-head{
    color: #e8ecf4;
    font-weight: bolder;
    background-color: #05628d;
    padding: .3rem;
}


#delete-table{
    border: 1px solid black;
    margin: .6rem;
}

tr{
    border:1px solid #000000;
    margin-left: .9rem;
}
td{
    width: 25rem;
    text-align: justify;
    margin-left: .3rem;
}
.td{
    height: 2.4rem;
}

.btn-del{
padding:  .2rem .5rem;
background-color: #1B76FF;
border-radius: .3rem;

color: white;

}

.btn-del:hover{
    background-color: white;
    border: 1px solid black;
}
a{
    text-decoration: none;
}
/* end : stlye for delete section */